@keyframes slide-up {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    20% {
      transform: translateY(0);
      opacity: 1;
    }
    40% {
      transform: translateY(0);
      opacity: 1;
    }
    60% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
  
  .animate-slide-up {
    animation: slide-up 9s ease-in-out infinite;
    position: absolute;
    width: 100%;
  }
  
  .delay-1 {
    animation-delay: 0s;
  }
  
  .delay-2 {
    animation-delay: 3s;
  }
  
  .delay-3 {
    animation-delay: 6s;
  }
  
  ul {
    position: relative;
    height: 40px; /* Height to accommodate one line of text */
  }
  